<template name="datepicker">
<div class="date-picker">
    <div class="date-container pull-left">
        <h4 class="weekday">{{weekday}}</h4>
        <h2 class="date">{{weekdate}}</h2>
        <h4 class="year pull-right">{{weekyear}}</h4>
    </div>
    <span class="fa fa-angle-left pull-left"></span>
    <span class="fa fa-angle-right pull-right"></span>
    <div class="input-group input-datepicker {{show_input}}">
        <input type="text" class="form-control" placeholder="YYYY/MM/DD" value="{{cur_date}}">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div>
    <span data-toggle="calendar" class="fa fa-calendar"></span>
</div>
</template>