// @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
// @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

// body {
//     padding: 70px 0px;
// }
.fa.pull-right 
    margin-left: 0.1em;   


.date-picker,
.date-container 
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgb(75, 77, 78);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

.date-container 
    padding: 0px 40px
    
    .date 
        text-align: center

.date-picker
    h2
        font-size: 2rem
    h4
        font-size: 1.3rem
    h2, h4
        margin: 0px
        padding: 0px
        font-family: 'Roboto', sans-serif
        font-weight: 200
    span.fa
        position: absolute
        font-size: 3rem
        font-weight: 100
        padding: 8px 0px 7px
        cursor: pointer
        top: 0px;
    span.pull-left 
        left: 0px;
    span.pull-right
        right: 0px;
    span[data-toggle="calendar"]
        display: block
        position: absolute
        top: -10px
        right: 45px
        font-size: 1em !important
        cursor: pointer
    .input-datepicker
        display: none
        position: absolute
        top: 50%
        margin-top: -12px
        width:110%
    .input-datepicker.show-input
        display: table