<template name="app_show">
	<h3 class="text-info"><a href="{{pathFor 'app_list'}}"><i class="fa fa-arrow-left"></i></a> How to register your application</h3>
	
	<p>Just insert the following code in your app on server side (ex:
		<b>server/meteortics.js</b>)</p>
	<pre>Meteortics.connect({
	appId:"{{app._id}}",
	secret:"{{app.secret}}"
})</pre>
	<p>OR add the folowwing entry in your settings file</p>
	<pre>{ 
	"meteortics":{
		"appId":"{{app._id}}",
		"secret":"{{app.secret}}"
	}
}</pre>
</template>