<template name="servers_detail">
    <div id="servers_detail" class="container">
        <div class="col-xs-12">
            <!-- <ul class="list-group"> -->
            {{#each servers}}
            <!-- <li class="list-group-item"> -->
            <div class="panel panel-blue1">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <img src="/images/os/{{platform}}.png" class="img_logo" alt="toto">
                    <a href="{{pathFor 'servers_health'}}">{{hostname}}</a>
                    <div class="pull-right">
                        <svg width="10px" height="10px">
                            {{#if active}}
                            <circle cx="5" cy="5" r="5" style="stroke:#66B132; fill:#66B132" /> 
                            {{else}}
                            <circle cx="5" cy="5" r="5" style="stroke:#FE2712; fill:#FE2712" /> 
                            {{/if}}
                        </svg>
                    </div>
                </div>
                <div class="panel-body">
				    <div class="col-xs-12 col-md-6">
                        <!-- <h2>Information</h2> -->
                        <table class="table table-condensed">
                            <thead>
                                <tr><th><h5>OS</h5></th><th></th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Platform</td>
                                    <td>{{platform}} {{arch}}</td>
                                </tr>
                                <tr>
                                    <td>CPUS</td>
                                    <td>{{cpus.length}}</td>
                                </tr>
                                <tr>
                                    <td>Memory</td>
                                    <td>{{filesize memory}}</td>
                                </tr>
                                <tr>
                                    <td>Meteor version</td>
                                    <td>{{release}}</td>
                                </tr>
                                <tr>
                                    <td>Node version</td>
                                    <td>{{version}}</td>
                                </tr>
                                <tr>
                                    <td>Uptime</td>
                                    <td>{{HHMMSS uptime}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="col-xs-12 col-md-6">
                       <!--  <div class="col-xs-12"> -->
                        <table class="table table-condensed">
                            <thead>
                                <tr><th><h5>Environment</h5></th><th></th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>USER</td><td>{{env.USER}}</td>
                                </tr>
                                <tr>
                                    <td>PATH</td><td>{{env.PATH}}</td>
                                </tr>
                                <tr>
                                    <td>PWD</td><td>{{env.PWD}}</td>
                                </tr>
                                <tr>
                                    <td>ROOT_URL</td><td>{{env.ROOT_URL}}</td>
                                </tr>
                                <tr>
                                    <td>MONGO_URL</td><td>{{env.MONGO_URL}}</td>
                                </tr>
                                <tr>
                                    <td>MONGO_OPLOG_URL</td><td>{{env.MONGO_OPLOG_URL}}</td>
                                </tr>
                                <tr>
                                    <td>NODE_ENV</td><td>{{env.NODE_ENV}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-md-4">
                        <h5>Free memory</h5>
                        {{> metricsGraphicsHelper 
                            chartId="freemem" 
                            chartWidth="100%" 
                            chartHeight="100%" 
                            chartObject=freememChart
                            x="createdAt"
                            y="freemem"}}
                        </div>
                        <div id="loadavg" class="col-xs-12 col-md-4">
                        <h5>Load average</h5>
                        {{> metricsGraphicsHelper 
                            chartId="loadavg" 
                            chartWidth="100%" 
                            chartHeight="100%" 
                            chartObject=freememChart
                            x="createdAt"
                            y="loadavg"}}
                        </div>
                        <div id="processmem" class="col-xs-12 col-md-4">
                        <h5>Process memory</h5>
                        {{> metricsGraphicsHelper 
                            chartId="processmem" 
                            chartWidth="100%" 
                            chartHeight="100%" 
                            chartObject=freememChart
                            x="createdAt"
                            y="processMem"}}
                        </div>
                        <!-- <div id="freemem" class="col-xs-12"> 
                        </div>-->
                    </div>
                    <h5>Logs</h5>
                    <div class="col-xs-12 console">
                            
                            {{#each logs}}
                            <div class="col-xs-2">
                                {{moment createdAt "lll"}}
                            </div>
                            <div class="col-xs-10">
                                {{#if $eq type 'log'}}
                                <p class="text-info">{{text}}</p>
                                {{/if}}
                                {{#if $eq type 'error'}}
                                <p class="text-danger">{{text}}</p> 
                                {{/if}}
                            </div>
                            <div class="clearfix"></div>
                            {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>

