<template name="app_list">
<div id="app_list">
	<a href="{{pathFor 'app_new'}}" class="btn bg-green2 btn-app-new">Create a new App</a>
	<div class="col-md-12">
		<div class="panel panel-purple1">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<h4 class="panel-title">Registered applications</h4>
			</div>
			<div class="panel-body">
				<p>From here you can manage your apps, register new one, ...</p>
			</div>
			
			<!-- Table -->
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Secret</th>
						<th>Log</th>
						<th>Health</th>
						<th>Created</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each apps}}
					<tr>
						<td>{{_id}}</td>
						<td><a href="{{pathFor 'app_show' id=_id}}">{{name}}</a></td>
						<td>{{secret}}</td>
						<td class='onoff log_enabled'>{{log_enabled}}</td>
						<td class='onoff health_enabled'>{{health_enabled}}</td>
						<td>{{moment createdAt}}</td>
						<td>
							<a href="{{pathFor 'app_show' id=_id}}" class="btn btn-xs bg-green2">show</a>
							<a href="/apps/delete/{{_id}}" class="btn btn-xs bg-red1 btn-delete">delete</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>	
	</div>
</div>
</template>